* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.container {
  width: 100%;
  height: 100vh;
  background-color: #63f076;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  width: 350px;
  height: 500px;
  border-radius: 5px;
  background-color: #fff;
  transition: 0.5s;
  display: flex;
  position: relative;
}
.card:hover {
  width: 680px;
}
.left {
  width: 310px;
  height: 400px;
  margin: 50px auto;
  border-radius: 5px;
  background-color: #63f076;
  box-shadow: 0 0 20px #00000055;
  transition: 0.5s;
  position: relative;
}
.card:hover .left {
  transform: translateX(-230px);
}
.left > img {
  width: 100%;
  transition: 0.5s;
}
.card:hover .left > img {
  transform: translateX(-80px);
}
.left_bottom {
  width: 100%;
  height: 90px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transform: scalex(0);
  transition: 0.5s;
  transform-origin: bottom;
}
.card:hover .left_bottom {
  transform: scalex(1);
}
.apple_item {
  width: 70px;
  height: 70px;
  border-radius: 4px;
  box-shadow: 0 0 7px #00000023;
}
.apple_item img {
  width: 100%;
}
.right {
  position: absolute;
  right: 100px;
  top: 50px;
  transform: translateX(-50px) scale(0);
  transform-origin: left;
}
.card:hover .right {
  transform: translateX(0px) scale(1);
  transition: 0.7s 0.3s;
}
.right h1 {
  font-size: 40px;
  font-weight: 300;
  color: red;
  padding: 20px 0;
}
.right ul li {
  color: gray;
  line-height: 1.8;
}
.right button {
  width: 100px;
  height: 36px;
  border-radius: 5px;
  border: none;
  color: #fff;
  background-color: red;
  margin-top: 30px;
}
.left2